/*
 * OpenBook: Interactive Online Textbooks - Server
 * © 2024 Dennis Schulmeister-Zimolong <dennis@wpvs.de>
 *
 * This program is free software: you can redistribute it and/or modify
 * it under the terms of the GNU Affero General Public License as
 * published by the Free Software Foundation, either version 3 of the
 * License, or (at your option) any later version.
 */

/* Adopt styling of DjangoQL Searchbar for Django Unfold Admin */
#searchbar {
    height: auto !important;
    padding: 0.5em;
    outline: none;
}

.djangoql-toggle {
    margin-left: 10px;
}