/**
 * Prevent flickering when the permission from-list is mutated. This occurs
 * because Django Unfold (or Django Admin) always rebuilds the full list,
 * when permissions are moved between to from/to lists and we then hide all
 * permissions, that are not allowed. Here we make sure that the options are
 * initially invisible unless explicitly made visible by us.
 */
#id_permissions_from option {
    display: none;

    &._visible {
        display: block !important;
    }
}

/**
 * Workaround: Widgets that are set to disabled in the form, rather then declaring
 * them read-only in the ModelForm class are not greyed out by Django Unfold.
 */
select[disabled] {
    background-color: rgb(var(--color-base-50));
    border-color: rgb(var(--color-base-700));
}