{# OpenBook Studio: Interactive Online Textbooks - Server               #}
{# © 2024 Dennis Schulmeister-Zimolong <dennis@wpvs.de>                 #}
{#                                                                      #}
{# This program is free software: you can redistribute it and/or modify #}
{# it under the terms of the GNU Affero General Public License as       #}
{# published by the Free Software Foundation, either version 3 of the   #}
{# License, or (at your option) any later version.                      #}
{% extends "openbook_server/website/base.html" %}
{% load i18n %}

{% block extra_head %}
<style>
    main {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;

        font-size: 200%;
        text-shadow: 1px 1px 2px rgb(0,0,0, 0.5);
    }
</style>
{% endblock %}

{% block main%}
    <div id="message">
        <strong>{% block error-number %}{% endblock %}:</strong> {% block error-description %}{% endblock %} <br/>
        <br/>
        <a href="/">{% trans "Back to start page" %}</a>
    </div>
{% endblock %}
