{# Browse-able API documentation: Custom branding in the navigation bar. #}

{% load i18n static rest_framework rest_framework_redesign %}

<a class="navbar-brand d-flex align-item-center justify-content-center gap-1 bg-white rounded-4 px-2 shadow-sm"
  rel="nofollow" href="{{ site.about_url }}">
  <span class="fw-bold text-danger">[</span>
  <span class="fw-bold text-dark">{</span>
  <strong class="text-dark d-flex align-item-center justify-content-center">
    <abbr title="{{ site.name }}" data-bs-toggle="tooltip" class="text-decoration-none">
      {{ site.short_name }}
    </abbr>
  </strong>
  <span class="fw-bold text-dark">}</span>
  <span class="fw-bold text-danger">]</span>
</a>