{# OpenBook: Interactive Online Textbooks - Server               #}
{# © 2024 Dennis Schulmeister-Zimolong <dennis@wpvs.de>                 #}
{#                                                                      #}
{# This program is free software: you can redistribute it and/or modify #}
{# it under the terms of the GNU Affero General Public License as       #}
{# published by the Free Software Foundation, either version 3 of the   #}
{# License, or (at your option) any later version.                      #}

header {
    color: {{ site.header_fg }};
    background: {{ site.header_bg }};
}

header .logo {
    width: {{ site.logo_width }};
}

header a,
header a:visited {
    color: {{ site.header_link }};
}

main {
    color: {{ site.main_fg }};
    background: {{ site.main_bg }};
}

main a,
main a:visited {
    color: {{ site.main_link }};
}

footer {
    color: {{ site.footer_fg }};
    background: {{ site.footer_bg }};
}

footer a,
footer a:visited {
    color: {{ site.footer_link }};
}
