{# OpenBook: Interactive Online Textbooks - Server               #}
{# © 2024 Dennis Schulmeister-Zimolong <dennis@wpvs.de>                 #}
{#                                                                      #}
{# This program is free software: you can redistribute it and/or modify #}
{# it under the terms of the GNU Affero General Public License as       #}
{# published by the Free Software Foundation, either version 3 of the   #}
{# License, or (at your option) any later version.                      #}
{% extends "openbook/website/base.html" %}
{% load i18n %}

{% block main%}
    <div id="message">
        Welcome to OpenBook! This is all very much work in progress, so
        there is not yet much to see here. In the meantime please continue using
        <a href="https://www.npmjs.com/package/@dschulmeis/lecture-slides.js">lecture-slides.js</a>,
        the precurser to OpenBook that is around since 2017.
    </div>
{% endblock %}
